/* Main style start */

.container {
    width: 960px;
}

/* Main style end */

/* Header style start */

nav a {
    visibility: visible;
}

/* Header style end */

/* Prime section style start */

.container hgroup {
    width: 65%;
}

/* Prime section style end */

/* About us section style start */

.about-us h1 {
    text-align: left;
}

.employee {
    flex-direction: row;
}

.employee:nth-of-type(even) {
    flex-direction: row-reverse;
    text-align: right;
}

.employee:nth-of-type(even) .employee-img {
    margin-right: 0;
    margin-left: 40px;
}

.employee-img {
    margin-right: 40px;
    margin-bottom: 0;
}

/* About us section end */

/* Services section starts */

.services h1 {
    font-size: 36px;
    text-align: left;
}

.services-box {
    width: 200px;
    height: 200px;
}

/* Services section end */

/* Footer section starts */

footer {
    height: 70px;
}

footer h1 {
    margin-bottom: 0;
}

footer .container {
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
}

/* Contact section style start */

.contact .container {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0;
}

.map {
    width: 600px;
    height: 450px;
}

address {
    margin-bottom: 0;
}